@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Oswald:wght@200;300;600&family=Raleway:wght@300&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background-color: #004aad;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

header{
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   position: fixed;
}



header nav ul li {
   list-style-type: none;
   margin-right: 30px;
   display: inline-block;
  
}



header nav ul li a{
    text-decoration: none;
    font-size: 40px;
   color:  azure;
   font-family: 'Raleway',sans-serif;
   font-weight: 200;
    
}

.hero{
    background-color: #004aad;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    
}

.hero img{
    max-width: 100%;
    
}

.about-me-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.my-picuture-container{
    margin-right: 50px;
}


.about-me-text-container h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 70px;
    color: #fdcb6e;
    text-shadow: 1px 3px 1px #000000;
    padding-top: 100px;
    padding-bottom: 100px;

    
}

.about-me-text-container h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: azure;
    padding-bottom: 20px;
  
}

.about-me-text-container p{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: azure;
    padding-bottom: 20px;
    
}

.about-me-text-container span{
    background-color: blueviolet;
    border-radius: 10px;
 

}

#emailBtn{
    background: #fdcb6e;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    border-left-width: 5px;
    border-left-style: solid;
    border-right-width: 5px;
    border-right-style: solid;
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: black;
    box-shadow: 0px 8px 5px black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 50px;
}




.my-background{
    background-color: #004aad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
    border-top-width: 3px;
    border-top-style: dashed;
}

.my-background-content{
  
    margin-bottom: 10px;
    border-right-style: solid;
    border-right-width: 1px;
}

.my-background h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 70px;
    padding-bottom: 80px;
}


.my-background ul{
    list-style: none;
    margin-left: 30px;
    
}

.my-background ul li{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding: 10px;
    
}

.my-background-content > h1{
    color: #fdcb6e;
    text-shadow: 1px 3px 1px #000000;
    width: 370px;
    margin-top: 50px;
}

.my-background-content{
    color: azure;
    text-shadow: 0.5px 0.5px 0.1px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 160px;
}

.my-story{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.my-story h1{
    color: #fdcb6e;
    text-shadow: 1px 3px 1px #000000;
    padding-top: 50px;
}

.my-story p {
    color: azure;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding: 10px;
    
}

        
footer{
    background-color: #2d3436;
    color: white;
    text-align: center;
    background: linear-gradient(to top, #2d3436, #004aad);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    margin: 0 auto;
   
}

footer ul {
list-style: none; 
}


footer p{
    margin: 5px;
}

footer ul{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;

}

footer ul li{
    margin: 0 8px;
    font-size: 50px;
    
}

footer ul li a {
    color: aliceblue;
    cursor: pointer;
}


@media(hover : hover){
    header nav ul li :hover{
        background-color: #fdcb6e;
        border-radius: 5px;
        color: grey;
        transition: all 0.5s;
    }

    #emailBtn:hover{
        background: #004aad;
        color: azure;
        box-shadow: 0px 8px 5px #fdcb6e;
        transform: translateY(-7px);
     
    }

    #emailBtn:active{
        background: black;
        transition: all 0.1s ease 0s;
    }
    
    
}



@media (max-width : 1251px){
    .about-me-text-container h1{
        font-size: 50px;
    }

    .about-me-text-container h2{
        font-size: 30px;
    }

    .about-me-text-container span{
        font-size: 30px;
    }

    .about-me-text-container p{
        font-size: 25px;
    }
}

@media(max-width: 1240px){
    .my-story h1{
        padding-top: 120px;
    }
    
   
}

@media (max-width : 1037px){
    .about-me-text-container h1{
        font-size: 45px;
    }
}

@media (max-width : 983px){
    .about-me-text-container h1{
        font-size: 40px;
    }

    .my-story h1{
       
        padding-top: 180px;
    }
    

    .about-me-text-container h2{
        font-size: 25px;
    }

    .about-me-text-container span{
        font-size: 25px;
    }

    .about-me-text-container p{
        font-size: 20px;
    }
}

@media (max-width: 929px){
    .hero{
       
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 200px;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav ul li {
        margin-right: 0px;
    }

    .my-background{
        flex-direction: column;
    }

    .my-background-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 0px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    .my-background-content h1{
        font-size: 50px;
        width: 265px;
    }

    .my-background-content ul li{
        font-size: 30px;
    }

    .my-story h1{
        font-size: 50px;
    }
    
    .my-story p {
        font-size: 30px;
    }


    .about-me-text-container h1{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 20px;
    }

    .my-story{
        margin-left: 0px;
    }

    .my-story p{
        border-top-width: 2px;
        border-top-style: solid;
        border-left-style: solid;
        border-right-width: 2px;
        border-right-style: solid;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-radius: 10px;
        border-left-width: 2px;
    }

}


@media (max-width : 754px){
    .about-me-text-container h1{
        font-size: 40px;
    }
    
   
}

@media (max-width : 525px){
    header nav ul li a {
        font-size: 30px ;
    }
}

@media (max-width : 430px){
    .about-me-text-container h1{
        font-size: 35px;
      
        
    }
    
    .about-me-text-container h2{
        font-size: 25px;
    
        
    }

    .about-me-text-container p{
        font-size: 18px;
    }


    .my-background-content h1{
        font-size: 30px;
        width: 160px;
    }

    .my-background-content ul li{
        font-size: 15px;
    }

    .my-story h1{
        font-size: 25px;
    }
    
    .my-story p {
        font-size: 15px;
    }


}

@media (max-width : 403px){
    header nav ul li a {
        font-size: 20px ;
    }
}

@media (max-width: 375px){
    .about-me-text-container h1{
        font-size: 27px;
    }

    
    .about-me-text-container h2{
        font-size: 20px;
    
        
    }

    .about-me-text-container p{
        font-size: 15px;
    }
    #emailBtn{
       font-size: 25px;
    }
}



@media (max-width : 270px){
    .about-me-text-container h1{
        font-size: 15px;
      
        
    }
    
    .about-me-text-container h2{
        font-size: 10px;
    
        
    }

    .about-me-text-container p{
        font-size: 8px;
    }
    
}






@media (max-width : 106px){

    footer ul{
        flex-direction: column;
    }

    footer ul li a {
        font-size: 30px;
    }
}




